body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

textarea{
    height: 520px;
}