body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

textarea{
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 5px;
}